:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
  cursor: pointer;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

/* Footer */
.footer {
  padding: 96px 135px 0;
  background: #2e2100;
}

.footer .row {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #59554b;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 40%;
}

.footer .column .desc {
  margin-top: 18px;
  max-width: 360px;
  font-size: 1.4rem;
  line-height: 22px;
  color: #bfbcb2;
}

.footer .title {
  display: inline-block;
  padding: 0 48px 14px 0;
  border-bottom: 1px solid #59554b;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
}

.footer .list {
  margin-top: 10px;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}

.footer .list li:last-child a {
  margin-bottom: 0;
}

.footer .list strong {
  font-weight: 600;
  color: #ffffff;
}

.footer .copyright {
  padding: 28px 0;
}

.footer .copyright p {
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #807d74;
}
